#aboutMe {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    padding: 14.55vh 13.33vw;
}

#aboutMe .content h3 {
    margin-bottom: 11.66vh;
}

.content p {
    font-size: 2.441rem;
    width: 70.625vw;
    text-align: justify;
}

@media screen and (max-width:944px) {
    #aboutMe .content h3 {
        margin-bottom: 11.66vh;
    }

    .content p {
        font-size: 3.052rem;
        width: 100%;
    }
}

@media screen and (max-width:755px) {

    #aboutMe .content h3 {
        margin-bottom: 7.66vh;
    }

    .content p {
        font-size: 3.815rem;
        width: 100%;
    }
}

@media screen and (max-width:630px) {
    .content p {
        letter-spacing: 2px;
    }
}